RINKEBY_RPC_URL=xxxx //RPC URL for the blockchain node for rinkeby testnet. I used alchemyapi.io
MAINNET_RPC_URL=xxxx //RPC URL for the blockchain node for mainnet. I used alchemyapi.io
PRIVATE_KEY=xxxx //For the default account on any network except hardhat and localhost which deploys the contract
ETHERSCAN_API_KEY=xxxx //For verifying the contract on etherscan.io
COINMARKETCAP_API_KEY=xxxx //For gas reporter to convert results to USD 

**NOTE**:
Enter your API key in place of "xxxx" and remove the comments following it!